<div>
    <h1>Dashboard page for user</h1>
    <a href="/">intro</a>
    <a href="/user/edit">Edit profile</a>
    <a href="/user/show/id">User being clicked</a>
    <a href="/dashboard/admin">Admin</a>
</div>